.page {
    background-color: white;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    margin-bottom: 20px;
}

.top .current_page {
    font-weight: 600;
    font-size: 20px;
}

table.table {
    font-size: 14px;
    width: 100%;
}

.table thead tr {
    background-color: #f2f5ff;
}

.table th:first-child{
    border-radius: 10px 0 0 0;
}

.table th:last-child{
    border-radius: 0 10px 0 0;
}

.table td, .table th {
    padding: 12px 11px;
    text-align: left;
    line-height: 20px;
}

.table th:first-child, .table td:first-child {
    padding-left: 20px;
}

.table th:last-child, .table td:last-child {
    padding-right: 20px;
}

.table th {
    font-weight: 500;
}

.table td {
    font-weight: 300;
    border-bottom: 1px solid #eaeaea;
}

.table tr {
    transition: 0.2s ease-in-out;
}

.table tbody tr:not(:has(td:only-child)):hover {
    background-color: #F8FAFF;
}

.table tbody tr td:first-child {
    width: 20px;
}

.table tr .noData { /*no data*/
    text-align: center;
    color: #989898;
}

.table tr .noData:hover {
    cursor: not-allowed;
}

.iconlink {
    fill: #c3c3c3;
    height: 17px;
    display: block;

    position: relative;
    bottom: -2px;

    transition: 0.2s ease-in-out;
}

.iconlink svg {
    height: 100%;
}

.iconlink:hover {
    fill: var(--blueprimary);
    cursor: pointer;
}

td:last-child .iconlink:hover {
    fill: #ff0000;
}

/*----------------LOADING-----------------*/
.loadingContainer {
    position: relative;
    width: fit-content;
    top: 50px;
    left: 50%;
    text-align: center;
}

/*----------------------FORM---------------------*/
.contents {
    margin-top: 30px;
    width: 75%;
}

.contents .field label {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.contents .field input {
    border: 1.5px solid #dadada;
    border-radius: 10px;
    font-family: "Readex Pro";
    width: 100%;
}

.contents .field input:focus, .contents .field input:hover {
    outline: none;
    border: 1.5px solid var(--blueprimary);
}

.contents .field {
    margin-top: 20px;
}

.contents .field #startY, #endY {
    width: 80px
}

.contents .action_btn {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin-top: 20px;
}

.contents .action_btn button {
    font-size: 14px;
    font-family: "Readex Pro";
    border: none;

    transition: 0.3s ease-in-out;
}

.contents .action_btn .save {
    background-color: var(--blueprimary);
    color: white;
}

.contents .action_btn .cancel {
    color: var(--blueprimary);
    background-color: white;
    border: 2px solid var(--blueprimary);
}

.action_btn button:hover {
    cursor: pointer;
}

.action_btn .save:hover {
    background-color: #006BCD;
}

.action_btn .cancel:hover {
    border: 2px solid #e20000;
    color: red;
}

.field input[type="file"] {
    padding: 0;
}

.field input[type="file"]::-webkit-file-upload-button {
    background-color: var(--blueprimary);
    border: none;
    color: white;
    padding: 8px 16px;
    margin-right: 16px;
    font-family: "Readex Pro";
}

.namafile {
    font-size: 14px;
    font-weight: 400;
    color: var(--blueprimary);
    text-decoration: underline;
    padding: 8px 16px;
    border: 1.5px solid #dadada;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.namafile:hover {
    color: #001CB0;
    cursor: pointer;
}

.add_input {
    width: 100%;
    border: 1px solid #dadada;
    background-color: #d6f0ff;
    color: #0075FF;
    font-size: 14px;
    border-radius: 10px;

    transition: 0.2s ease-in-out;
}

.add_input:hover {
    background-color: #c0e7fd;
}

.inputtanPerOrg {
    position: relative;
    font-size: 14px;
    margin-bottom: 7px;
}

.inputtanPerOrg>div>div:hover {
    outline: none;
    border: 1.5px solid var(--blueprimary);
}

.inputtanPerOrg div:hover div[class$="menu"] {
    border: none;
}

.inputtanPerOrg div[class$="menu"] {
    z-index: 4;
}

.inputtanPerOrg div[class$="control"] {
    padding-left: 16px;
    box-sizing: border-box;
    height: min-content;
}

.inputtanPerOrg div[class$="singleValue"] {
    color: black;
    margin: 0;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputtanPerOrg div[class$="Input"], .inputtanPerOrg div[class$="ValueContainer"] {
    padding: 0;
    margin: 0;
    height: 36px;
}

.delPerson {
    position: absolute;
    right: 50px;
    top: calc(50% - 8px);

    background-color: #bababa;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-in-out;
    z-index: 3;
}

.delPerson:hover {
    cursor: pointer;
    background-color: red;
}

.delPerson * {
    object-fit: cover;
    width: 13px;
    height: 13px;
    fill: white;
}

/*------------Input Loading--------------*/
.loadingInput {
    animation: skeleton-loading 0.7s linear infinite alternate;
    cursor: not-allowed;
}

.contents .field .loadingInput:hover {
    border: 1.5px solid #d7d7d7;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(0, 0%, 97%);
    }
    100% {
        background-color: hsl(0, 0%, 100%);
    }
}

/*------------Object Tag to Display PDF-----------*/
.object {
    margin-bottom: 10px;
}

.pdfTop div {
    font-size: 12px;
    color: #ff0000;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.explVis {
    visibility: visible;
}

.explHid {
    visibility: hidden;
}

.pdfTop {
    display: flex;
    align-items: center;
    gap: 10px;
}