.page {
    background-color: white;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    margin-bottom: 20px;
}

.top .current_page {
    font-weight: 600;
    font-size: 20px;
}

.add_btn {
    font-size: 14px;
    font-family: "Readex Pro";
    background-color: var(--blueprimary);
    color: white;
    border: none;

    transition: 0.3s ease-in-out;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: -24px;

    font-size: 11px;
    background-color: #ececec;
    padding: 5px;
    border-radius: 5px 5px 0 5px;
}

.add_btn:hover + .tooltip {
    visibility: visible;
}

.add_btn:hover {
    box-shadow: 2px 2px 0px #000000;
}

table.table {
    font-size: 14px;
    width: 100%;
}

.table thead tr {
    background-color: #f2f5ff;
}

.table th:first-child{
    border-radius: 10px 0 0 0;
}

.table th:last-child{
    border-radius: 0 10px 0 0;
}

.table td, .table th {
    padding: 12px 11px;
    text-align: left;
    line-height: 20px;
}

.table th:first-child, .table td:first-child {
    padding-left: 20px;
}

.table th:last-child, .table td:last-child {
    padding-right: 20px;
}

.table th {
    font-weight: 500;
}

.table td {
    font-weight: 300;
    border-bottom: 1px solid #eaeaea;
}

.table tr {
    transition: 0.2s ease-in-out;
}

.table tr:hover {
    background-color: #F8FAFF;
}

.iconlink {
    fill: #c3c3c3;
    height: 17px;
    display: block;

    position: relative;
    bottom: -2px;

    transition: 0.2s ease-in-out;
}

.iconlink svg {
    height: 100%;
}

.iconlink:hover {
    fill: var(--blueprimary);
    cursor: pointer;
}