.bg {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_box {
    background-color: rgba(255, 255, 255, 1);
    padding: 30px;
    z-index: 3;
    height: 250px;
    width: 440px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal_box .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.modal_box label {
    font-weight: 500;
    font-size: 1rem;
}

.modal_box .content input[type="file"] {
    padding: 0;
    border-radius: 8px;
    border: 1.5px solid var(--blueprimary);
    font-family: "Readex Pro";
}

.modal_box .content input[type="file"]::-webkit-file-upload-button {
    background-color: var(--blueprimary);
    border: none;
    color: white;
    padding: 8px 16px;
    margin-right: 16px;
    font-family: "Readex Pro";
}

.modal_box .content .scanBtn {
    padding: 8px 16px;
    background-color: var(--blueprimary);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: auto;
    font-size: 15px;
}